<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ .Title }}</title>
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
  <link href="/static/tailwind.css" rel="stylesheet">
</head>

<body class="bg-[#222831] flex items-center justify-center min-h-screen text-white">

  <main>

    <form class="bg-[#393e46] p-16 size-fit rounded-2xl hover:border-[#00acb5] border border-transparent">

      <h1 id="form-type-title" class="text-3xl font-medium text-center mb-6">{{ .Title }}</h1>

      <div class="flex flex-col mb-2">
        <label for="username-field" class="text-left ml-2 mb-1 block text-lg font-normal">Username</label>
        <input id="username-field" type="text" autofocus="true" placeholder="Enter username"
          class="text-[#222831] rounded-3xl p-2 border-2 border-gray-300 outline-none hover:border-[#017177] transition duration-200">
      </div>

      {{ if .IsRegisterForm }}
      <div class="flex flex-col mb-2">
        <label for="email-field" class="text-left ml-2 mb-1 block text-lg font-normal">Email</label>
        <input id="email-field" type="text" autofocus="true" placeholder="Enter email"
          class="text-[#222831] rounded-3xl p-2 border-2 border-gray-300 outline-none hover:border-[#017177] transition duration-200">
      </div>
      {{ end }}

      <div class="flex flex-col mb-7">
        <label for="password-field" class="text-left ml-2 mb-1 block text-lg font-normal">Password</label>
        <input id="password-field" type="password" placeholder="Enter password"
          class="text-[#222831] rounded-3xl p-2 border-2 border-gray-300 outline-none hover:border-[#017177] transition duration-200">
      </div>

      <div class="flex justify-center mb-5">
        <button type="submit"
          class="bg-[#00acb5] hover:bg-[#017177] rounded-2xl px-7 py-2 text-center m-0 w-3/4 transition duration-200 ">Submit</button>
      </div>

      <p class="text-center">{{ .AlternativeAction }}</p>

      <div class="flex justify-center">
        <a href="/views/register.html" class="text-center underline transition duration-300 hover:text-[#00acb5]">{{
          .AlternativeActionText }}</a>
      </div>

    </form>
  </main>

</body>

</html>