<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ .Title }}</title>
  <style>
    :root {
      --primary: #222831;
      --primary-hover: #494f5a;
      --primary-active: #494f5a;
      --primary-active-alt: #525866;
      --secondary: #393e46;
      --secondary-hover: #2e3239;
      --secondary-active: #414751;
      --accent: #00acb5;
      --accent-hover: #017177;
      --accent-active: #00cbd6;
      --danger: #ba0000;
      --danger-hover: red;
      --shadow: hsla(0, 0%, 0%, 0.1);
      --shadow-alt: #0000001a;
      --text: #eee;
      --text-alt: #aaa;
    }
  </style>
  <link rel="stylesheet" href="/web/static/tailwind.css">
  <link rel="icon" href="/favicon.ico" type="image/x-icon">
  <!-- TODO provide htmx locally -->
  <script src="https://unpkg.com/htmx.org@2.0.3"
    integrity="sha384-0895/pl2MU10Hqc6jd4RvrthNlDiE9U1tWmX7WRESftEDRosgxNsQG/Ze9YMRzHq"
    crossorigin="anonymous"></script>
</head>

<body>

  {{ .Content }}

</body>